@page "/account/resetpassword/{guid:guid}"
@model ResetPasswordModel
@{
}

@section Meta {
    <title>
        Återställning av lösenord - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">

    <h4 class="ms-2 mt-3 mb-3">
        <i>
            ange nytt lösenord
        </i>
    </h4>

    <form method="post" role="form">
        <input asp-for="CommandModel.Guid" type="hidden" />

        <div class="col-6">
            <div class="row g-2">

                <div class="col-12">
                    <input asp-for="CommandModel.Email" class="form-control"
                           placeholder="din@epostadress" />
                </div>

                <div class="col-12">
                    <input asp-for="CommandModel.Password" type="password" class="form-control"
                           placeholder="Nytt lösenord" />
                </div>

            </div>

            <div asp-validation-summary="All" class="col-12"></div>

            <div class="mt-2">
                <button type="submit" class="btn btn-secondary">
                    Spara
                </button>
            </div>
        </div>
    </form>

</main>
