@page "/account/resetpasswordsuccess"
@model ResetPasswordSuccessModel
@{
}

@section Meta {
    <title>
        Klart! - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">

    <h4 class="ms-2 mt-3 mb-3">
        <i>
            Lösenordet är ändrat!
        </i>
    </h4>

    <a href="/" class="btn btn-primary">
        Till startsidan
    </a>

</main>
