@page "/session/signinsuccess"
@model SignInSuccessModel
@{
}

@section Meta {
    <title>
        Inloggad! - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">

    <h4 class="mt-3 mb-3">
        <i>
            inloggad!
        </i>
    </h4>

</main>
