@page "/subject/{id:int}/addkeyword"
@model AddKeywordModel
@{
}

@section Meta {
    <title>
        Nytt nyckelord - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">
    <div class="row">
        <div class="col-12 col-md-6">

            <h4 class="ms-2 mt-3 mb-3">
                <i>
                    lägg till ett nyckelord
                </i>

                <span class="ms-2" style="font-size:smaller">
                    <a href="/subject/curate/@(Model.Subject.Id)"
                       class="text-decoration-none">
                        @(Model.Subject.Category.Emoji)
                        @(Model.Subject.Name)
                    </a>
                </span>
            </h4>

            <form method="post" role="form">
                <input type="hidden" asp-for="CommandModel.SubjectId" />

                <label asp-for="CommandModel.Word" class="form-label ms-2">
                    Nyckelord
                </label>

                <input asp-for="CommandModel.Word" class="form-control"
                       placeholder="ett ord som ska ge träff på ämnet vid sökning" />

                <div asp-validation-summary="All" class="col-12"></div>

                <div class="mt-3">
                    <a class="btn btn-outline-secondary me-2"
                       href="/subject/curate/@(Model.Subject.Id)">
                        Avbryt
                    </a>

                    <button type="submit" class="btn btn-secondary ms-auto">
                        Lägg till
                    </button>
                </div>
            </form>

        </div>
    </div>
</main>
