@page "/account/requestpasswordresetsuccess"
@model RequestPasswordResetSuccessModel
@{
}

@section Meta {
    <title>
        Klart! - 
        @(Branding.WebsiteTitle)!
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">

    <h4 class="ms-3 mt-3 mb-3">
        <i>
            återställning av lösenord är påbörjad
        </i>
    </h4>

    <p class="ms-2">
        Det kommer ett mejl med instruktioner.
    </p>

    <a href="/" class="btn btn-primary">
        Till startsidan
    </a>

</main>
