@page "/account/requestpasswordreset"
@model RequestPasswordResetModel
@{
}

@section Meta {
    <title>
        Återställning av lösenord - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">

    <h4 class="ms-2 mt-3 mb-3">
        <i>
            vill du återställa lösenord för ditt konto?
        </i>
    </h4>

    <form method="post" role="form">
        <div class="col-12 col-lg-6">
            
            <input asp-for="CommandModel.Email" class="form-control mt-3"
                   placeholder="din@epostadress" />

            <div asp-validation-summary="All" class="col-12"></div>

            <div class="mt-2">
                <button type="submit" class="btn btn-secondary">
                    Begär återställning
                </button>
            </div>
        </div>
    </form>

</main>
