@page "/legal/integrity"
@model OnIntegrityModel
@{
}

@section Meta {
    <title>
        Om integritet - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">
    <div class="row">
        <div class="col-12 col-md-8">

            <h4 class="ms-2 mt-3 mb-3">
                <i>
                    om integritet
                </i>
            </h4>
            
            <div class="card">
                <div class="card-body">

                    <div class="mt-2 mb-2">
                        <ul>
                            <li>
                                Allt innehåll är publikt.
                            </li>
                            <li>
                                Det du ser är vad du får.
                            </li>
                            <li>
                                Inga algoritmer.
                            </li>
                            <li>
                                Vi säljer inga data.
                            </li>
                            <li>
                                Vi sparar inte data längre än nödvändigt.
                            </li>
                            <li>
                                När du tar bort något så är det borta.
                            </li>
                            <li>
                                Dina kontaktuppgifter ska inte läcka ut.
                            </li>
                            <li>
                                Vi har inte reklam.
                            </li>
                            <li>
                                Vi har inga tredjepartskakor.
                            </li>
                            <li>
                                Facebook och Google har ingen insyn.
                            </li>

                        </ul>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

</main>
