@page "/invitation/acceptsuccess"
@model AcceptInvitationSuccessModel
@{
}

@section Meta {
    <title>
        Klart -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">

    <h4 class="ms-2 mt-3 mb-3">
        kontot är skapat!
    </h4>

    <a href="/session/signin" class="btn btn-success">
        Logga in
    </a>

</main>
