@page "/subject/editkeyword/{id:int}"
@model EditKeywordModel
@{
}

@section Meta {
    <title>
        Redigera nyckelord - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">
    <div class="row">
        <div class="col-12 col-md-6">

            <h4 class="ms-2 mt-3 mb-2">
                <i>
                    redigera nyckelord
                </i>
            </h4>

            <form method="post" role="form">

                <input type="hidden" asp-for="CommandModel.Id" />

                <label asp-for="CommandModel.Word" class="form-label mt-3">
                    Nyckelord
                </label>

                <input asp-for="CommandModel.Word" class="form-control"
                       placeholder="ett ord som ska ge träff på ämnet vid sökning" />

                <div asp-validation-summary="All" class="col-12"></div>

                <div class="mt-4">
                    <a class="btn btn-outline-secondary me-2"
                       href="/subject/curate/@(Model.Subject.Id)">
                        Avbryt
                    </a>

                    <button type="submit" class="btn btn-secondary me-2">
                        Spara
                    </button>
                </div>
            </form>

        </div>
    </div>
</main>
