@page "/account/changepassword"
@model ChangePasswordModel
@{
}

@section Meta {
    <title>
        Ändra lösenord - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">

    <h4 class="ms-2 mt-3 mb-3">
        <i>
            ändra lösenord
        </i>
    </h4>

    <form method="post" role="form">
        <div class="col-6">
            
            <label asp-for="CommandModel.OldPassword" type="password"
                   class="form-label ms-2">Nuvarande lösenord
            </label>

            <input asp-for="CommandModel.OldPassword" type="password"
                   class="form-control" />

            <label asp-for="CommandModel.NewPassword" type="password"
                   class="form-label ms-2 mt-3">Nytt lösenord
            </label>

            <input asp-for="CommandModel.NewPassword" type="password"
                   class="form-control" />

            <div asp-validation-summary="All"></div>

            <div class="mt-4">
                <a class="btn btn-outline-secondary me-2"
                   href="/account/showaccount">
                    Avbryt
                </a>

                <button type="submit" class="btn btn-secondary">
                    Spara
                </button>
            </div>
        </div>
    </form>

</main>
