@page "/about/this"
@model AboutModel
@{
}

@section Meta {
    <title>
        Om den här sajten - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">
    <div class="row">
        <div class="col-12 col-md-8">

            <h4 class="ms-2 mt-3 mb-3">
                <i>
                    om den här sajten
                </i>
            </h4>

            <div class="card">
                <div class="card-body">

                    <h5 class="mt-0">
                        Vem står bakom sidan?
                    </h5>

                    <p>
                        Det gör jag,
                        <a href="https://github.com/kirilla">Jonas Sundström.</a>
                    </p>

                    <h5 class="mt-0">
                        Vad är syftet med sidan?
                    </h5>

                    <p class="mb-1">
                        Att låta människor säga sin mening om Uppsala.
                    </p>

                    <p>
                        Att marknadsföra min programvara.
                    </p>

                    <h5 class="mt-0">
                        Hur är det byggt?
                    </h5>

                    <p>
                        Sajten är baserad på Poplike®, som är
                        <a href="https://github.com/kirilla/poplike">öppen källkod.</a>
                    </p>

                    <h5 class="mt-0">
                        Får man sätta upp sin egen sajt med programvaran?
                    </h5>

                    <p>
                        Ja, det får man. Licensen är MIT (tillåtande).
                    </p>

                </div>
            </div>

        </div>
    </div>

</main>
