@page "/invitation/rejectsuccess"
@model RejectInvitationSuccessModel
@{
}

@section Meta {
    <title>
        Ok! - 
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="Navbar/_Navbar" model="Model.PageUserToken" />
}

<main class="container">
    <div class="col-12 col-md-6">

        <h4 class="ms-2 mt-3 mb-4">
            välkommen tillbaka senare!
        </h4>

    </div>
</main>
